body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #434455;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

header{
    border-bottom: 1px solid #E7E9FC;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.container{
    max-width: 1158px;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.container-main{
    gap: 8px;
    display: flex;
    justify-content: center;
}

.logo-studio{
    color: #f4f4fd;
}

.navigation-properties{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
    font-size: 16px;
}
.butt{
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-top: 16px;
}

nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navigation-properties:hover{
    color: #404bbf;
}

.navigation-properties:active{
    color: #404bbf;
}

.navigation-properties:focus{
    color: #404bbf; 
}
.butt:hover{
    background-color: #404BBF;
}

.butt:focus{
    background-color: #404BBF;
}

.address-properties{
    font-style: normal;
    align-items: center;
}

.change-color{
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;

}
.change-color:hover, .change-color:active, .change-color:focus{
    color: #404bbf;
}

.team-list{
    justify-content: center;
    gap: 32px;
    text-align: center;
}

.first-section{
    background-color: #2e2f42;
    text-align: center;
}
.first-properties{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.first-list-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;

}
.section-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.first-list{
    background-color: #FFFFFF;
    padding-bottom: 32px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.list-paragraph{
    font-size: 16px;
    color: #434455 ;
    letter-spacing: 0.02em;
    line-height: 1.5 ;

}

.second-list-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2e2f42;
}

.portfolio-color{
    background-color: white;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

.container-list{
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
}
.footer-properties{
    background-color: #2E2F42;
    color: #F4F4FD;
}

.logo{
    font-weight: 700;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-left: 156px;
}

.logo-studio-f{
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.logo-studio-h{
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.footer-paragraph{
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #F4F4FD;
}